@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
:root {
  --default-blue: #76deff;
  --second-blue: #12568e;
  --gray: #fbfdfc;
}

#envoyer{
    background-color: var(--second-blue);
}