{% load i18n %}
{% autoescape off %}
{% blocktranslate %}Vous recevez cet email car vous avez demandé une réinitialisation du mot de passe pour votre compte utilisateur sur {{ site_name }}.{% endblocktranslate %}

{% translate "Veuillez vous rendre à la page suivante et choisir un nouveau mot de passe :" %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% translate 'Votre nom d’utilisateur, au cas où vous l’auriez oublié :' %} {{ user.get_username }}

{% translate "Merci d'utiliser notre site !" %}

{% blocktranslate %}{% endblocktranslate %}
{% endautoescape %}
