
{% extends 'admin_nav.html' %} {% load static %} {% block content %}

<div class="container">
  <br /><br /><br />
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form method="post" action="{% url 'update_profile' %}">
        {% csrf_token %} {{ user_form.as_p }}

        <br /><br />

        <button type="submit" class="btn btn-secondary">Update</button>
      </form>
      <br>
      <a href="{% url 'update_paswd' %}" class="btn btn-success">Update Password</a>
    </div>
  </div>
</div>

<br /><br /><br />
<br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br />
{% endblock content %}
